
@{

}
<h2>Hello</h2>
<div class="d-inline-flex">
    <a class="btn btn-outline-primary m-2" asp-area="" asp-controller="Admin" asp-action="ManageRoles"> Редактировать роли </a>
    <a class="btn btn-outline-primary m-2" asp-area="" asp-controller="Admin" asp-action="ManageStatuses"> Редактировать статусы </a>
</div>