
@{

}
<h2>Панель администратора</h2>
<hr />

<aside class="bg-light-subtle w-25 border-left border-right">
    <nav class="d-flex flex-column hove">
        <a class="nav-link m-2 border-bottom" asp-controller="Admin" asp-action="ManageRoles"> Редактировать роли </a>
        <a class="nav-link m-2 border-bottom" asp-controller="Admin" asp-action="ManageStatuses"> Редактировать статусы </a>

        @*TODO*@
        <a class="nav-link m-2 border-bottom" asp-controller="Admin" asp-action="ManageUsers">Управление пользователями</a>
        <a class="nav-link m-2 border-bottom" asp-controller="Admin" asp-action="ManageApp">Управление приложением</a>
    </nav>
</aside>
