
@{

}
<h2>Панель администратора</h2>

<aside class="">
    <nav class="">
        <a class="btn btn-outline-primary m-2 rounded-0" asp-area="" asp-controller="Admin" asp-action="ManageRoles"> Редактировать роли </a>
        <a class="btn btn-outline-primary m-2 rounded-0" asp-area="" asp-controller="Admin" asp-action="ManageStatuses"> Редактировать статусы </a>
    </nav>
</aside>
