
@{

}
<h2>Панель администратора</h2>

<aside class="">
    <nav class="d-flex">
        <a class="nav-link m-2 rounded-0" asp-area="" asp-controller="Admin" asp-action="ManageRoles"> Редактировать роли </a>
        <a class="nav-link m-2 rounded-0" asp-area="" asp-controller="Admin" asp-action="ManageStatuses"> Редактировать статусы </a>

        @*TODO*@
        <a class="nav-link m-2 rounded-0" asp-controller="Admin" asp-action="ManageUsers">Управление пользователями</a>
        <a class="nav link m-2 rounded-0" asp-controller="Admin" asp-action="ManageApp">Управление приложением</a>
    </nav>
</aside>
