@model ManSys.ViewModels.Admin.ManageUsersViewModel


<div class="container">
    <table>
        <thead>
            <td>

            </td>
        </thead>
        <tbody>
        @for(int i = 0; i < ManageUsersViewModel.Users.Count; i++){
            <td>

            </td>
        }
        </tbody>
    </table>
</div>